<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Sales <%= typeof sales=='undefined' ? 'Create' : 'Update' %></h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sales</a></li>
                    <li class="breadcrumb-item active"><%= typeof sales=='undefined' ? 'Create' : 'Update' %></li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form class="validate-this-form" method="post" action="/portal-sales-create">
                    <div class="row">
                        <input class="form-control" type="number" name="id" id="id" value="<%= typeof sales!='undefined' ? sales.id : '0' %>" readonly hidden>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="date" class="col-md-4 col-form-label">Date</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Date is required">
                                        <!-- <input class="form-control validate_this datepicker" placeholder="Date" name="date" id="date" value="<%= typeof sales!='undefined' ? sales.date : '' %>"> -->
                                        <input type="text" class="form-control" placeholder="dd M, yyyy"
                                        data-date-format="dd M, yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                        data-date-autoclose="true"
                                        name="date" id="date" value="<%= typeof sales!='undefined' ? sales.date : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="cash" class="col-md-4 col-form-label">Cash</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Cash is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this" placeholder="0" type="number" name="cash" id="cash" value="<%= typeof sales!='undefined' ? sales.cash : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="card" class="col-md-4 col-form-label">Card</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Card is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this" placeholder="0" type="number" name="card" id="card" value="<%= typeof sales!='undefined' ? sales.card : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="appose" class="col-md-4 col-form-label">Cheque</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Cheque is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this" placeholder="0" type="number" name="cheque" id="cheque" value="<%= typeof sales!='undefined' ? sales.cheque : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 row">
                                <label for="description" class="col-md-2 col-form-label">Description</label>
                                <div class="col-md-10">
                                    <input class="form-control" placeholder="Description" type="text" name="description" id="description" value="<%= typeof sales!='undefined' ? sales.description : '' %>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-danger" style="float: right; margin-left: 2%;" type="button" href="/portal-sales-list">Cancel</a>
                        <button class="btn btn-primary" style="float: right;" type="submit" ><%= typeof sales=='undefined' ? 'Create' : 'Update' %></button>
                        <!-- <button class="btn btn-primary" type="button" id="faceScanBtn" style="display: none;">Face Scan</button> -->
                    </div>
                </form>
            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>