<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link href="/public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />
<link href="/public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="/public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Sales List</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sales</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <input type="hidden" id="hiddenField" value="0" style="display: none;">
                    <div class="col-md-5">
                        <div class="mb-3 row">
                            <label for="date" class="col-md-4 col-form-label">From Date</label>
                            <div class="col-md-8">
                                <div class="input-group" data-validate="From Date is required">
                                    <input class="form-control validate_this" type="date" id="fromDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="mb-3 row">
                            <label for="date" class="col-md-4 col-form-label">To Date</label>
                            <div class="col-md-8">
                                <div class="input-group" data-validate="To Date is required">
                                    <input class="form-control validate_this" type="date" id="toDate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-primary" style="float: right;" type="button" onclick="loadTableData()" id="searchBtn" ><i class="uil uil-search me-2"></i> Search</button>
                    </div>
                </div>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead></thead>
                    <tbody></tbody>
                    <tfoot id="tfoot" style="display: none;">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2"></th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="/public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/public/assets/libs/jszip/jszip.min.js"></script>
<script src="/public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="/public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/public/assets/js/pages/datatables.init.js"></script>

<script src="/public/assets/js/face-verification.js"></script>
<script>
    const coloum=[
        {
            "data": "sl",
            "title": "#SL",
        },
        {
            "data": "date",
            "title": "Date",
        },
        {
            "data": "card",
            "title": "Card 1"
            // "render": function (data, type, row, meta) {
            //     return `$ ${row.Card?row.Card:0}`;
            // }
        },
        {
            "data": "card2",
            "title": "Card 2"
        },
        {
            "data": "cheque",
            "title": "Cheque"
        },
        {
            "data": "cash",
            "title": "Cash"
        },
        {
            "data": "totalSale",
            "title": "Total"
        },
        {
            "data": "description",
            "title": "Description"
        },
        {
            "data": "id",
            "title": "Action",
            mRender: function(data){
                return `<a class="btn btn-sm btn-success btn-soft-success waves-effect waves-light" href="/portal-sales-create/${data}">Update</a>
                <button class="btn btn-sm btn-danger btn-soft-danger waves-effect waves-light" onclick='deleteConfirmation("/portal-sales-delete/${data}")'>Delete</button>`
            }
        }
    ];

    function loadTableData(){
        const hiddenField=$("#hiddenField").val();
        if(hiddenField==0){
            const fromDate=$("#fromDate").val();
            const toDate=$("#toDate").val();
            if(fromDate && toDate){
                $("input").attr('disabled',true);
                $("#hiddenField").val(1);
                $("#searchBtn").html('<i class="uil uil-redo me-2"></i> Search Again');
                get_table_data("datatable-buttons",`get-portal-sales-list-data/${fromDate}&${toDate}`,coloum,[2,3,4,5,6],false);
            }
        }else{
            location.reload();
        }
    }
    
</script>

<%- contentFor('BottomJs') %>