<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Custom Invoice Making</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Invoice</a></li>
                    <li class="breadcrumb-item active">Custom</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title mb-4">Invoice Details</h4> enctype="multipart/form-data" --> 
                <form class="repeater validate-this-form" method="post">
                    <div data-repeater-list="group-a" class="row">
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Invoice No :</span>
                                </div>
                                <!-- <input class="form-control validate_this number_only" placeholder="0" type="text" name="cash" id="cash" value="<%= typeof invoice!='undefined' ? sales.cash : '0' %>"> -->
                                <input class="form-control validate_this" placeholder="#INV0001" type="text" name="invoiceNo" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Date :</span>
                                </div>
                                <input class="form-control validate_this"  type="date" name="invoiceDate" id="invoiceDate" value="">
                            </div>
                        </div>
                        <!-- <div class="mb-3 col-md-4">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Invoice Logo :</span>
                                </div>
                                <input class="form-control" type="file" name="invoiceLogo" accept="image/*">
                            </div>
                        </div> -->
                        <h4 class="card-title mt-2">Invoice To :</h4>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Name :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="John" type="text" name="invoiceTo_Name" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="Australia" type="text" name="invoiceTo_Address" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone/Mobile :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="+6136243559" type="text" name="invoiceTo_Phone" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="xyz@email.com" type="email" name="invoiceTo_Email" value="">
                            </div>
                        </div>

                        <h4 class="card-title mt-2">Pay To :</h4>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Name :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="Chicken Man" type="text" name="payTo_Name" value="Chicken Man Goulburn">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="Australia" type="text" name="payTo_Address" value="Shop 9/12-20 Verner St, Goulburn NSW 2580">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone/Mobile :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="+6136243559" type="text" name="payTo_Phone" value="(02) 4856 8660">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="xyz@email.com" type="email" name="payTo_Email" value="info@chickenman.net.au">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ABN :</span>
                                </div>
                                <input class="form-control validate_this" placeholder="78 ### ### ###" type="number" name="payTo_Abn" value="78636409464">
                            </div>
                        </div>

                        <h4 class="card-title mt-2">Invoice Details :</h4>
                        <div data-repeater-item class="row">
                            <div  class="mb-3 col-lg-3">
                                <label class="form-label" for="name">Item Name</label>
                                <input type="text" name="itemName" class="form-control"/>
                            </div>
                            <div class="mb-3 col-lg-2">
                                <label class="form-label" for="message">Description</label>
                                <textarea class="form-control" name="itemDescription" rows="1"></textarea>
                            </div>
                            <div  class="mb-3 col-lg-2">
                                <label class="form-label" for="email">Quantity</label>
                                <input type="text" name="itemQuantity" class="form-control number_only"/>
                            </div>
                            <div  class="mb-3 col-lg-2">
                                <label class="form-label" for="subject">Price</label>
                                <input type="text" name="itemPrice" class="form-control number_only"/>
                            </div>
                            <div  class="mb-3 col-lg-2">
                                <label class="form-label" for="subject">Total</label>
                                <input type="text" name="itemTotal" class="form-control number_only"/>
                            </div>
                            
                            <div class="col-lg-1 align-self-center d-grid">
                                <input data-repeater-delete type="button" class="btn btn-warning btn-block" value="Delete"/>
                            </div>
                        </div>
                    </div>
                    <input data-repeater-create type="button" class="btn btn-success" value="Add New Item"/>
                    
                    <h4 class="card-title mt-3">Others :</h4>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="GST is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">GST :</span>
                                </div>
                                <input class="form-control" placeholder="0" type="text" name="taxAmount" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <div class="input-group" data-validate="Discount is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Discount :</span>
                                </div>
                                <input class="form-control" placeholder="0" type="text" name="discountAmount" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Additional information :</span>
                                </div>
                                <input class="form-control" placeholder="Notes" type="text" name="addInfo" value="">
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <div class="input-group" data-validate="Cash is required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Notes :</span>
                                </div>
                                <input class="form-control" placeholder="Notes" type="text" name="notes" value="Thank you for believing us.">
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-end">
                        <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- form repeater js -->
<script src="public/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

<script src="public/assets/js/pages/form-repeater.int.js"></script>

<%- contentFor('BottomJs') %>

<!-- <script>
    $(function(){
        document.getElementById('invoiceDate').value = new Date().toDateInputValue();
    })
</script> -->