<%- contentFor('HeaderCss') %>

<!-- ION Slider -->
<!-- <link href="/public/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css"/> -->

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">TV Ads</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ads</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<!-- end page title -->

<%- contentFor('body') %>

    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <% for (var i = 0; i < allAds.length; i++) { %>
                        <div class="col-xl-4" style="border: 1px solid rgb(95, 88, 88, 0.2); padding: 10px;">
                            <div class="product-detail">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <% for (var j = 0; j < allAds[i].length; j++) { %>
                                                <a class="nav-link <%=j==0?'active':''%>" id="product-<%=i+j%>-tab" data-bs-toggle="pill" href="#" role="tab">
                                                    <img src="<%=allAds[i][j].link%>" alt="" class="img-fluid mx-auto d-block tab-img rounded">
                                                </a>
                                            <% } %>
                                        </div>
                                    </div>
    
                                    <div class="col-9">
                                        <div class="tab-content position-relative" id="v-pills-tabContent">
    
                                            <div class="product-wishlist col-md-12" style="text-align: right">
                                                <h5 style="background-color:white; padding: 10px; color:brown"><%=allAds[i].adsName.toUpperCase()%></h5>
                                                <!-- <a href="#" style="color: brown; font-weight: bold;" style="height:auto; width:auto; padding:10px">
                                                    <%=allAds[i].adsName.toUpperCase()%>
                                                </a> -->
                                            </div>
                                            <% for (var j = 0; j < allAds[i].length; j++) { %>
                                                <div class="tab-pane fade show <%=j==0?'active':''%>" id="product-<%=i+j%>" role="tabpanel">
                                                    <div class="product-img">
                                                        <img src="<%=allAds[i][j].link%>" alt="" class="img-fluid mx-auto d-block" data-zoom="<%=allAds[i][j].link%>">
                                                    </div>
                                                </div>
                                            <% } %>
                                            
                                        </div>
                                        <div class="row text-center mt-2">
                                            <div class="col-sm-6 d-grid">
                                                <a href="<%=allAds[i].adsLink%>" target="_blank" type="button" class="btn btn-info btn-soft-success waves-effect waves-light mt-2 me-1">
                                                    <i class="uil uil-bring-bottom me-2"></i> Preview
                                                </a>
                                            </div>
                                            <div class="col-sm-6 d-grid">
                                                <a type="button" href="/portal-tv-ads-delete/<%=allAds[i].adsName%>" class="btn btn-danger btn-soft-danger waves-effect waves-light mt-2 me-1">
                                                    <i class="uil uil-shopping-cart-alt me-2"></i> Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- Ion Range Slider-->
<!-- <script src="/public/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script> -->

<!-- init js -->
<!-- <script src="/public/assets/js/pages/product-filter-range.init.js"></script> -->


<%- contentFor('BottomJs') %>