<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0"><%= typeof model=='undefined' ? 'New' : 'Update' %> Transaction</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title mb-4">Invoice Details</h4> enctype="multipart/form-data" --> 
                <form class="repeater validate-this-form transactionForm" method="post">
                    <div data-repeater-list="transactionDetails" class="row">
                        <input class="form-control" type="number" name="id" id="id" value="<%= typeof model!='undefined' ? model.id : '' %>" readonly hidden>
                        <input class="form-control" type="number" name="parentId" id="parentId" value="<%= typeof model!='undefined' ? model.parentId : '0' %>" readonly hidden>
                        <input class="form-control" type="number" name="isItIncome" id="isItIncome" value="<%= typeof model!='undefined' ? model.isItIncome : '0' %>" readonly hidden>
                        <div class="col-md-6 motherParent0">
                            <div class="mb-3 row">
                                <label for="detailsInfoId" class="col-md-4 col-form-label">Transaction Type</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Transaction Type is required">
                                        <select class="form-select validate_this select2" onchange="chartOfAccountChange(this)">
                                            <option value="0" disabled selected>Select</option>
                                            <% if(locals.transactionType) {for(var i=0; i<transactionType.length; i++){%>
                                                <option value="<%=transactionType[i].code%>" <%=typeof detailsInfo!='undefined' ? transactionType[i].id==model.roleId ? 'selected':'' : ''%>><%=transactionType[i].name%></option>
                                            <%}}%>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label class="col-md-4 col-form-label">Accounting Head</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Accounting Head is required">
                                        <select class="form-select validate_this select2" id="accountFromId" name="accountFromId" onchange="accountFromIdChange(this)">
                                            <option value="" disabled selected>Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label class="col-md-4 col-form-label">How did you pay</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="This Field is Required">
                                        <select class="form-select validate_this select2" id="accountToId" name="accountToId" onchange="accountToIdChange(this)">
                                            <option value="0" disabled selected>Select</option>
                                            <% if(locals.assets) {for(var i=0; i<assets.length; i++){%>
                                                <option value="<%=assets[i].id%>" <%=typeof detailsInfo!='undefined' ? assets[i].id==model.roleId ? 'selected':'' : ''%>><%=assets[i].name%></option>
                                            <%}}%>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="date" class="col-md-4 col-form-label">Date</label>
                                <div class="col-md-8" id="datepicker1">
                                    <div class="input-group" id="datepicker2" data-validate="Date is required">
                                        <!-- <input class="form-control validate_this" placeholder="Date" type="date" name="date" id="date" value="<%= typeof model!='undefined' ? model.date : '' %>"> -->
                                        <input type="text" class="form-control validate_this" placeholder="Date"
                                            data-date-format="mm/dd/yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                            data-date-autoclose="true" autocomplete="off"
                                            name="dateTime" id="dateTime" value="<%= typeof model!='undefined' ? model.date : locals.todayDate %>">
        
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="cash" class="col-md-4 col-form-label">Amount</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Amount is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this number_only" placeholder="0" type="text" name="amount" id="amount" value="<%= typeof model!='undefined' ? model.amount : '' %>" onkeyup="calculateTransaction()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="description" class="col-md-4 col-form-label">Description</label>
                                <div class="col-md-8" data-validate="Description is required">
                                    <!-- <input class="form-control" placeholder="Description" type="text" name="description" id="description" value="<%= typeof model!='undefined' ? model.description : '' %>"> -->
                                    <textarea class="form-control validate_this" name="description" id="description" rows="1"></textarea>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <hr/>
                        <div data-repeater-item class="row transactionDetailsPart">
                            <div  class="mb-3 col-lg-5">
                                <label class="form-label" for="name">Account</label>
                                <select class="form-select chartOfAccountId" name="chartOfAccountId">
                                    <option value="0" disabled selected>Select</option>
                                    <% if(locals.coaAll) {for(var i=0; i<coaAll.length; i++){%>
                                        <option value="<%=coaAll[i].id%>" <%=typeof detailsInfo!='undefined' ? coaAll[i].id==model.roleId ? 'selected':'' : ''%>><%=coaAll[i].name%></option>
                                    <%}}%>
                                </select>
                            </div>
                            <div  class="mb-3 col-lg-3">
                                <label class="form-label" for="email">Debit</label>
                                <input type="text" name="debit" class="form-control debit" onkeyup="numberOnly(this)" onchange="multiply(this.name)"/>
                            </div>
                            <div  class="mb-3 col-lg-3">
                                <label class="form-label" for="subject">Credit</label>
                                <input type="text" name="credit" class="form-control credit" onkeyup="numberOnly(this)" onchange="multiply(this.name)"/>
                            </div>
                            <div class="col-lg-1 align-self-center d-grid" style="margin-top: 14px;">
                                <button data-repeater-delete class="btn btn-danger btn-block"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>

                    </div>
                    <input data-repeater-create type="button" class="btn btn-sm btn-secondary" value="Add Split" id="addNewItem"/>
                    
                    <div class="mt-3 col-md-12">
                        <div class="mt-3 text-end">
                            <button class="btn btn-primary w-sm waves-effect waves-light" type="button" onclick="transactionFormSubmit()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- form repeater js -->
<script defer src="/public/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

<script defer src="/public/assets/js/pages/form-repeater.int.js"></script>

<%- contentFor('BottomJs') %>

<script>
    const incomeCode='<%=incomeCode%>';
    function multiply(name){
        const id = name.split("][")[0].split("group-a[")[1];
        const itemQuantity=$(`input[name="group-a[${id}][itemQuantity]"]`).val();
        const itemPrice=$(`input[name="group-a[${id}][itemPrice]"]`).val();
        const itemTotal=itemQuantity*itemPrice;
        $(`input[name="group-a[${id}][itemTotal]"]`).val(itemTotal.toFixed(2));
    };

    function numberOnly(e){
        if(e.value!='-')
        while(isNaN(e.value))
        e.value = e.value.split('').reverse().join('').replace(/[\D]/i,'')
                               .split('').reverse().join('');
    };

    function chartOfAccountChange(e){
        if(incomeCode==$(e).val()){
            $("#isItIncome").val(1)
        }else{
            $("#isItIncome").val(0)
        }
        $('#accountFromId')
            .empty()
            .append('<option value="" disabled selected>Select</option>')
        $.ajax({
            type: "GET",
            url: `/portal/coaByBaseCode/${$(e).val()}`,
            // beforeSend: function () {
            //     Spinner.Show();
            // },
            // complete: function () {
            //     Spinner.Hide();
            // },
            success: function(data){
                if(data){
                    data.forEach(item => {
                        $('#accountFromId').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                }
                // var html=''
                // html += `<div class="col-md-6 motherParent${key+1}">
                //             <div class="mb-3 row">
                //                 <label class="col-md-4 col-form-label">Chart of Account</label>
                //                 <div class="col-md-8">
                //                     <div class="input-group" data-validate="Chart of Account is required">
                //                         <select class="form-select validate_this select2" onchange="chartOfAccountChange(this)">
                //                             <option value="" disabled selected>Select</option>
                //                         </select>
                //                     </div>
                //                 </div>
                //             </div>
                //         </div>`   
                // $( `.motherParent0` ).after( html );
            }
        });
    }

    const accountFromIdChange =(e)=>{
        calculateTransaction();
        $("select[name='transactionDetails[0][chartOfAccountId]']").val($(e).val())
    }

    const accountToIdChange =(e)=>{
        $("#addNewItem").click();
        $("select[name='transactionDetails[1][chartOfAccountId]']").val($(e).val())
    }

    const calculateTransaction =()=>{
        const totalTransactions=$(".transactionDetailsPart").length;
        if($("#isItIncome").val()==0){
            $("input[name='transactionDetails[0][credit]']").val($("#amount").val())
            $("input[name='transactionDetails[1][debit]']").val($("#amount").val())
        }else{
            $("input[name='transactionDetails[0][debit]']").val($("#amount").val())
            $("input[name='transactionDetails[1][credit]']").val($("#amount").val())
        }
    }

    const transactionFormSubmit = ( ) => {
        if(validateThisForm(true)){
             $(".transactionForm").submit();
        }
        
    };
</script>