<ul class="metismenu list-unstyled" id="side-menu">

    <li class="menu-title"><%=translation.Menu%></li>

    <li>
        <a href="/portal/dashboard">
            <i class="uil-home-alt"></i>
            <!-- <span class="badge rounded-pill bg-primary float-end">full details</span> -->
            <span><%=translation.Dashboard%></span>
        </a>
    </li>
    
    <!---------Registration Start------------->
    <li class="menu-title"><%=translation.Registration%></li>
    <li>
        <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-users-alt"></i>
            <span><%=translation.User%></span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
            <li><a href="/user"><%=translation.UserCreate%></a></li>
            <li><a href="/users-list"><%=translation.UserList%></a></li>
        </ul>
    </li>
    
    <!---------Registration End------------->

    
    <!---------CostEntry Start------------->
    <li class="menu-title"><%=translation.CostEntry%></li>
    <li>
        <a href="/portal/chartOfAccount">
            <i class="uil-chat-bubble-user"></i>
            <span><%=translation.ChartOfAccount%></span>
        </a>
    </li>
    <li>
        <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="fas fa-people-arrows"></i>
            <span><%=translation.Transaction%></span>
        </a>
        <ul class="sub-menu" aria-expanded="false">
            <li><a href="/portal/new-transaction"><%=translation.NewTransaction%></a></li>
            <li><a href="/portal/transaction-list"><%=translation.TransactionList%></a></li>
        </ul>
    </li>
    <!---------CostEntry End------------->


    <!---------Report Start------------->
    <li class="menu-title"><%=translation.Reports%></li>
    <li>
        <a href="/portal-master-report">
            <i class="far fa-list-alt"></i>
            <span><%=translation.MasterReport%></span>
        </a>
    </li>
    <!---------Report End------------->
</ul>