<%- contentFor('HeaderCss') %>

<!-- DataTables -->
<link href="/public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />
<link href="/public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="/public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
    type="text/css" />

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Tally List</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tally</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-bottom: 10px;">
                    <input type="hidden" id="hiddenField" value="0" style="display: none;">
                    <div class="col-md-12">
                        <div class="mb-3 row">
                            <label for="tallyId" class="col-md-2 col-form-label">Tally Customer</label>
                            <div class="col-md-10">
                                <div class="input-group" data-validate="Role is required">
                                    <select class="form-select validate_this select2" name="tallyCustomerId" id="tallyCustomerId">
                                        <option value="" disabled selected>Select</option>
                                        <% if(locals.tallyCustomerDD) {for(var i=0; i<tallyCustomerDD.length; i++){%>
                                            <option value="<%=tallyCustomerDD[i].id%>" <%=typeof tally!='undefined' ? tallyCustomerDD[i].id==tally.roleId ? 'selected':'' : ''%>><%=tallyCustomerDD[i].name%></option>
                                        <%}}%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label for="date" class="col-md-4 col-form-label">From Date</label>
                            <div class="col-md-8">
                                <div class="input-group" data-validate="From Date is required">
                                    <input class="form-control validate_this" type="date" id="fromDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label for="date" class="col-md-4 col-form-label">To Date</label>
                            <div class="col-md-8">
                                <div class="input-group" data-validate="To Date is required">
                                    <input class="form-control validate_this" type="date" id="toDate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button class="btn btn-info" style="float: right;  margin-left: 10px; display: none;" type="button" onclick="createInvoice()" id="invoiceBtn" ><i class="uil uil-file-minus-alt me-2"></i> Create Invoice</button>
                        <button class="btn btn-primary" style="float: right;" type="button" onclick="loadTableData()" id="searchBtn" ><i class="uil uil-search me-2"></i> Search</button>
                    </div>
                </div>
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead></thead>
                    <tbody></tbody>
                    <tfoot id="tfoot" style="display: none;">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="2"></th>
                    </tfoot>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<%- contentFor('FooterJs') %>

<!-- Required datatable js -->
<script src="/public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/public/assets/libs/jszip/jszip.min.js"></script>
<script src="/public/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="/public/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/public/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="/public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/public/assets/js/pages/datatables.init.js"></script>

<script src="/public/assets/js/face-verification.js"></script>
<script>
    const coloum=[
        {
            "data": "sl",
            "title": "#SL",
        },
        {
            "data": "date",
            "title": "Date",
        },
        {
            "data": "sl",
            "title": "Customer Name",
            "render": function (data, type, row, meta) {
                return `${row['tallyCustomer.fullName']}`;
            }
        },
        {
            "data": "sl",
            "title": "Customer Contact",
            "render": function (data, type, row, meta) {
                return `${row['tallyCustomer.contactNo']}`;
            }
        },
        {
            "data": "itemName",
            "title": "Item"
        },
        {
            "data": "quantity",
            "title": "Quantity"
        },
        {
            "data": "totalPrice",
            "title": "Total"
        },
        {
            "data": "id",
            "title": "Action",
            mRender: function(data){
                return `<a class="btn btn-sm btn-success btn-soft-success waves-effect waves-light" href="/portal-tally-create/${data}">Update</a>
                <button class="btn btn-sm btn-danger btn-soft-danger waves-effect waves-light" onclick='deleteConfirmation("/portal-tally-delete/${data}")'>Delete</button>`
            }
        }
    ];

    function createInvoice(){
        const hiddenField=$("#hiddenField").val();
        if(hiddenField!=0){
            const fromDate=$("#fromDate").val();
            const toDate=$("#toDate").val();
            const tallyCustomerId=$("#tallyCustomerId").val();
            if(fromDate && toDate && tallyCustomerId){
                go_link_new_page(`portal-tally-invoice-create/${fromDate}&${toDate}&${tallyCustomerId}`);
            }
        }else{
            location.reload();
        }
    }

    function loadTableData(){
        const hiddenField=$("#hiddenField").val();
        if(hiddenField==0){
            const fromDate=$("#fromDate").val();
            const toDate=$("#toDate").val();
            const tallyCustomerId=$("#tallyCustomerId").val();
            if(fromDate && toDate && tallyCustomerId){
                $("input").attr('disabled',true);
                $("select").attr('disabled',true);
                $("#hiddenField").val(1);
                $("#searchBtn").html('<i class="uil uil-redo me-2"></i> Search Again');
                $("#invoiceBtn").show();
                get_table_data("datatable-buttons",`get-portal-tally-list-data/${fromDate}&${toDate}&${tallyCustomerId}`,coloum,[6],false);
            }
        }else{
            location.reload();
        }
    }
    
</script>

<%- contentFor('BottomJs') %>