<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Wages <%= typeof wages=='undefined' ? 'Create' : 'Update' %></h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Wages</a></li>
                    <li class="breadcrumb-item active"><%= typeof wages=='undefined' ? 'Create' : 'Update' %></li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form class="validate-this-form" method="post" action="/portal-wages-create">
                    <div class="row">
                        <input class="form-control" type="number" name="id" id="id" value="<%= typeof wages!='undefined' ? wages.id : '0' %>" readonly hidden>
                        <div class="col-md-12">
                            <div class="mb-3 row">
                                <label for="employeeId" class="col-md-2 col-form-label">Employee Name</label>
                                <div class="col-md-10">
                                    <div class="input-group" data-validate="Payment Type is required">
                                        <select class="form-select validate_this select2" name="detailsInfoId" id="detailsInfoId" <%= typeof wages!='undefined' ? 'disabled="disabled"': '' %>>
                                            <option value="" selected="selected" disabled>Select</option>
                                            <% if(locals.employeeDD) {for(var i=0; i<employeeDD.length; i++){%>
                                                <option value="<%=employeeDD[i].id%>" <%=typeof wages!='undefined' ? employeeDD[i].id==wages.detailsInfoId ? 'selected':'' : ''%>><%=employeeDD[i].name%></option>
                                            <%}}%>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="date" class="col-md-4 col-form-label">Date</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Date is required">
                                        <input class="form-control validate_this" type="date" name="date" id="date" value="<%= typeof wages!='undefined' ? wages.date : '' %>">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="date" class="col-md-4 col-form-label">Date From</label>
                                <div class="col-md-8" id="datepicker1">
                                    <div class="input-group" id="datepicker2" data-validate="Date is required">
                                        <input type="text" class="form-control validate_this" placeholder="Date"
                                            data-date-format="mm/dd/yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                            data-date-autoclose="true" autocomplete="off"
                                            name="dateFrom" id="dateFrom" value="<%= typeof wages!='undefined' ? wages.dateFrom : '' %>">
        
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="date" class="col-md-4 col-form-label">Date To</label>
                                <div class="col-md-8" id="datepicker1">
                                    <div class="input-group" id="datepicker2" data-validate="Date is required">
                                        <input type="text" class="form-control validate_this" placeholder="Date"
                                            data-date-format="mm/dd/yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                            data-date-autoclose="true" autocomplete="off"
                                            name="dateTo" id="dateTo" value="<%= typeof wages!='undefined' ? wages.dateTo : '' %>">
        
                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="salary" class="col-md-4 col-form-label">Salary</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Salary is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this number_only" type="text" name="salary" id="salary" value="<%= typeof wages!='undefined' ? wages.salary : '0' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="payg" class="col-md-4 col-form-label">PAYG</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="PAYG is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this number_only" type="text" name="payg" id="payg" value="<%= typeof wages!='undefined' ? wages.payg : '0' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="super" class="col-md-4 col-form-label">Super</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Super is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this number_only" type="text" name="super" id="super" value="<%= typeof wages!='undefined' ? wages.super : '0' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="annual" class="col-md-4 col-form-label">Annual</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Annual is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this number_only" type="text" name="annual" id="annual" value="<%= typeof wages!='undefined' ? wages.annual : '0' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="annual" class="col-md-4 col-form-label">Cash</label>
                                <div class="col-md-8">
                                    <div class="input-group" data-validate="Cash is required">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input class="form-control validate_this number_only" type="text" name="cash" id="cash" value="<%= typeof wages!='undefined' ? wages.cash : '0' %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="description" class="col-md-4 col-form-label">Description</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="description" id="description" value="<%= typeof wages!='undefined' ? wages.description : '' %>">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-danger" style="float: right; margin-left: 2%;" type="button" href="/portal-wages-list">Cancel</a>
                        <button class="btn btn-primary" style="float: right;" type="submit" ><%= typeof wages=='undefined' ? 'Create' : 'Update' %></button>
                        <!-- <button class="btn btn-primary" type="button" id="faceScanBtn" style="display: none;">Face Scan</button> -->
                    </div>
                </form>
            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- parsleyjs -->
<script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="/public/assets/js/pages/form-validation.init.js"></script>

<%- contentFor('BottomJs') %>