
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Chart Of Account <%= typeof model=='undefined' ? 'Create' : 'Update' %></h4>
        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title mb-4">Invoice Details</h4> enctype="multipart/form-data" --> 
                <form class="repeater validate-this-form row" method="post" action="<%=lastVisitedUrl%>">
                    <input class="form-control" type="number" name="id" id="id" value="<%= typeof model!='undefined' ? model.id : '' %>" readonly hidden>
                    <input class="form-control" type="number" name="userId" id="userId" value="<%= typeof model!='undefined' ? model.userId : '' %>" readonly hidden>
                    <input class="form-control" type="number" name="code" id="code" value="<%= typeof model!='undefined' ? model.code : '' %>" readonly hidden>
                    
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label for="name" class="col-md-4 col-form-label">Name</label>
                            <div class="col-md-8" data-validate="Name is required">
                                <input class="form-control validate_this" placeholder="Ex. Assets" type="text" name="name" id="name" value="<%= typeof model!='undefined' ? model.name : '' %>">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label for="currencyId" class="col-md-4 col-form-label">Currency</label>
                            <div class="col-md-8">
                                <div class="input-group" data-validate="Currency is required">
                                    <select class="form-select validate_this select2" name="currencyId" id="currencyId">
                                        <% if(locals.currencyDD) {for(var i=0; i<currencyDD.length; i++){%>
                                            <option value="<%=currencyDD[i].id%>" <%=typeof model!='undefined' ? currencyDD[i].id==model.currencyId ? 'selected':'' : ''%>><%=currencyDD[i].name%></option>
                                        <%}}%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label for="parentId" class="col-md-4 col-form-label">Parent</label>
                            <div class="col-md-8">
                                <div class="input-group" data-validate="Parent Account is required">
                                    <select class="form-select validate_this select2" name="parentId" id="parentId">
                                        <option value="" disabled selected>Select an option</option>
                                        <% if(locals.chartOfAccountDD) {for(var i=0; i<chartOfAccountDD.length; i++){%>
                                            <option value="<%=chartOfAccountDD[i].id%>" <%=typeof model!='undefined' ? chartOfAccountDD[i].id==model.parentId ? 'selected':'' : ''%>><%=chartOfAccountDD[i].name%></option>
                                        <%}}%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 row">
                            <label for="amount" class="col-md-4 col-form-label">Initial Amount</label>
                            <div class="col-md-8" data-validate="Initial Amount is required">
                                <input class="form-control validate_this number_only" placeholder="Ex. 2000" type="text" name="amount" id="amount" value="<%= typeof model!='undefined' ? model['accountBalances.amount'] : '' %>">
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-end">
                        <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Submit</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<script src="/public/assets/js/custom-validation.js"></script>
<script>
    
    function numberOnly(e){
        if(e.value!='-')
        while(isNaN(e.value))
        e.value = e.value.split('').reverse().join('').replace(/[\D]/i,'')
                               .split('').reverse().join('');
    };
</script>