<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Dashboard</h4>

            <div class="page-title-right">
                <!-- <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Index</li>
                </ol> -->
                <div class="float-end">
                    <div class="dropdown">
                        <a class="dropdown-toggle text-reset" href="#" id="dropdownMenuButton5"
                            data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="fw-semibold">Sort Data For :</span> <span class="text-muted" id="apextChartDataFor">Last 7 Days <i class="mdi mdi-chevron-down ms-1"></i></span>
                        </a>
        
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5">
                            <a class="dropdown-item" href="#" onclick="changeApexData(7, '7 days')">Last 7 Days</a>
                            <a class="dropdown-item" href="#" onclick="changeApexData(30, '1 Month')">Last 1 Month</a>
                            <a class="dropdown-item" href="#" onclick="changeApexData(180, '6 Month')">Last 6 Month</a>
                            <a class="dropdown-item" href="#" onclick="changeApexData(365, '1 Year')">Last 1 Year</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div id="total-revenue-chart"></div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1">$ <span data-plugin="counterup"><%= typeof results!='undefined' ? results.Total_Sales : '0' %></span></h4>
                    <p class="text-muted mb-0">Income Today</p>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div id="total-revenue-chart"></div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1">$ <span data-plugin="counterup"><%= typeof results!='undefined' ? results.Today_Supplies : '0' %></span></h4>
                    <p class="text-muted mb-0">Income this Month</p>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div id="customers-chart"> </div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1">$ <span data-plugin="counterup"> <%= typeof results!='undefined' ? results.Today_Expense : '0' %></span></h4>
                    <p class="text-muted mb-0">Today Expense</p>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div id="customers-chart"> </div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1">$ <span data-plugin="counterup"> <%= typeof results!='undefined' ? results.Today_Expense : '0' %></span></h4>
                    <p class="text-muted mb-0">Expense this Month</p>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>


<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Cash Flow</h4>

                <div id="spline_area" class="apex-charts" dir="ltr"></div>                      
            </div>
        </div><!--end card-->
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Account Review</h4>
                
                <div id="donut_chart" class="apex-charts"  dir="ltr"></div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Latest 7 Transaction</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>#SL</th>
                                <th>Credit Account</th>
                                <th>Debit Acoount</th>
                                <th>Datetime</th>
                                <th>Amount</th>
                                <th>View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% if(locals.lTFD) {for(var i=0; i<lTFD.length; i++){%>
                                <!-- <option value="<%=lTFD[i].id%>" <%=typeof detailsInfo!='undefined' ? lTFD[i].id==detailsInfo.parentId ? 'selected':'' : ''%>><%=lTFD[i].name%></option> -->
                                <tr>
                                    <td><a href="javascript: void(0);" class="text-body fw-bold">#<%= lTFD[i]['sl'] %></a> </td>
                                    <td><%= lTFD[i]['creditAccount.name'] %></td>
                                    <td><%= lTFD[i]['debitAccount.name'] %></td>
                                    <td><%= lTFD[i]['dateTime'] %></td>
                                    <td><%= lTFD[i]['amount'] %></td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                            View Details
                                        </button>
                                    </td>
                                </tr>
                            <%}}else{%>
                                <tr>
                                    <td style="text-align: center;" colspan="7"><a href="javascript: void(0);" class="text-body fw-bold">No Transaction Made Yet</a> </td>
                                </tr>
                            <%}%>
                            
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- apexcharts -->
<script src="/public/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- apexcharts init -->
<script src="/public/assets/js/pages/apexcharts.init.js"></script>

<%- contentFor('BottomJs') %>