<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Apex</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
                    <li class="breadcrumb-item active">Apex</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div id="total-revenue-chart"></div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1">$ <span data-plugin="counterup"><%= typeof results!='undefined' ? results.Total_Sales : '0' %></span></h4>
                    <p class="text-muted mb-0">Today Sales</p>
                </div>
                <p class="text-muted mt-3 mb-0">Last day Sales <span class="text-success me-1">$<%= typeof results!='undefined' ? results.Today_Sales_Pre : '0' %></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div id="total-revenue-chart"></div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1">$ <span data-plugin="counterup"><%= typeof results!='undefined' ? results.Today_Supplies : '0' %></span></h4>
                    <p class="text-muted mb-0">Today Supplies</p>
                </div>
                <p class="text-muted mt-3 mb-0">Last day Supplies <span class="text-success me-1">$<%= typeof results!='undefined' ? results.Today_Supplies_Pre : '0' %></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="float-end mt-2">
                    <div id="customers-chart"> </div>
                </div>
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup"> <%= typeof results!='undefined' ? results.Today_Expense : '0' %></span></h4>
                    <p class="text-muted mb-0">Today Expense</p>
                </div>
                <p class="text-muted mt-3 mb-0">Last day expense <span class="text-success me-1"><%= typeof results!='undefined' ? results.Today_Expense_Pre : '0' %></span>
                </p>
            </div>
        </div>
    </div> <!-- end col-->
</div>


<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Cash Flow</h4>

                <div id="spline_area" class="apex-charts" dir="ltr"></div>                      
            </div>
        </div><!--end card-->
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Account Review</h4>
                
                <div id="donut_chart" class="apex-charts"  dir="ltr"></div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->


<%- contentFor('FooterJs') %>

<!-- apexcharts -->
<script src="/public/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- apexcharts init -->
<script src="/public/assets/js/pages/apexcharts.init.js"></script>

<%- contentFor('BottomJs') %>