<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Report</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Report</a></li>
                    <li class="breadcrumb-item active">Master</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="invoice-title">
                    <h4 class="float-end font-size-16">Report ( Date: <%=todayDate%> )<span class="badge bg-success font-size-12 ms-2">Fully Automatic</span></h4>
                    <div class="mb-4">
                        <img src="/public/assets/images/logo-dark.png" alt="logo" height="45" style="margin-left: 15px;"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-muted">
                            <h5 class="font-size-15 mb-2">Chicken Man</h5>
                            <p class="mb-1">From Date : <%=fromDate%></p>
                            <p class="mb-1">To Date: <%=toDate%></p>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                        <div class="text-muted text-sm-end">
                            <div>
                                <h5 class="font-size-14 mb-1">Date Range</h5>
                                <p>12/12/12 to 12/12/12</p>
                            </div>
                            <div class="mt-4">
                                <p>Print by : <%= typeof userName=='undefined' ? 'N/A' : userName %></p>
                            </div>
                        </div>
                    </div> -->
                </div>

                
                <div class="py-2">
                    <!-- <h5 class="font-size-15">Report Details</h5> -->

                    <div class="table-responsive">
                        <table class="table table-nowrap table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>SL.</th>
                                    <th>Date</th>
                                    <th>Cash</th>
                                    <th>Card</th>
                                    <th>Cheque</th>
                                    <th>Supplier</th>
                                    <th>Salary</th>
                                    <th>Expense</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(results.length > 0){ for(var i=0; i<results.length; i++){%>
                                    <tr>
                                        <th scope="row"><%=i+1%></th>
                                        <td>
                                            <h5 class="font-size-15 mb-1"><%=results[i].Date%></h5>
                                        </td>
                                        <td>$<%=results[i].Cash==null?0:results[i].Cash.toFixed(2)%></td>
                                        <td>$<%=results[i].Card==null?0:results[i].Card.toFixed(2)%></td>
                                        <td>$<%=results[i].Cheque==null?0:results[i].Cheque.toFixed(2)%></td>
                                        <td>$<%=results[i].Supplier==null?0:results[i].Supplier.toFixed(2)%></td>                                    
                                        <td>$<%=results[i].Salary==null?0:results[i].Salary.toFixed(2)%></td>
                                        <td>$<%=results[i].Expense==null?0:results[i].Expense.toFixed(2)%></td>
                                    </tr>
                                <%}}else{%>
                                    <tr>
                                        <th scope="row" colspan="6" class="text-end">No Data Found</th>
                                    </tr>
                                <%}%>
                                <!-- <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <h5 class="font-size-15 mb-1">12/12/2022</h5>
                                    </td>
                                    <td>$260</td>
                                    <td>$260</td>
                                    <td>$260</td>
                                    <td>$0</td>                                    
                                    <td>$0</td>
                                    <td>$0</td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <h5 class="font-size-15 mb-1">13/12/2022</h5>
                                    </td>
                                    <td>$0</td>
                                    <td>$0</td>
                                    <td>$0</td>
                                    <td>$260</td>                                    
                                    <td>$260</td>
                                    <td>$260</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>
                                        <h5 class="font-size-15 mb-1">12/12/2022</h5>
                                    </td>
                                    <td>$260</td>
                                    <td>$260</td>
                                    <td>$260</td>
                                    <td>$260</td>                                 
                                    <td>$260</td>
                                    <td>$260</td>
                                </tr> -->
                                <!-- <tr><th class="border-0 "></th></tr> -->
                                <tr>
                                    <th scope="row" colspan="6" class="text-end">Total Sale</th>
                                    <th></th>
                                    <td style="color:green; font-weight: bold;">$<%=totalSale%></td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="6" class="border-0 text-end">Total Expense</th>
                                    <th></th>
                                    <td style="color:red; font-weight: bold;">$ <%=totalExpense%></td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="6" class="text-end" style="font-weight: bold; color: <%=profit<0?'red':'green'%>;"><%=profit<0?'LOSS':'PROFIT'%></th>
                                    <th></th>
                                    <td><h5 class="m-0" style="color: <%=profit<0?'red':'green'; %>">$<%=profit<0?profit*-1:profit%></h5></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-print-none mt-4">
                        <div class="float-end">
                            <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1"><i class="fa fa-print"></i> Print</a>
                            <!-- <a href="#" class="btn btn-primary w-md waves-effect waves-light">Send</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<%- contentFor('BottomJs') %>