<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Supplier <%= typeof detailsInfo=='undefined' ? 'Create' : 'Update' %></h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Supplier</a></li>
                    <li class="breadcrumb-item active"><%= typeof detailsInfo=='undefined' ? 'Create' : 'Update' %></li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form class="validate-this-form" method="post">
                    <div class="row">
                        <input class="form-control" type="number" name="id" id="id" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.id : '0' %>" readonly hidden>
                        <input class="form-control" type="number" name="roleId" id="roleId" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.roleId : roleId %>" readonly hidden>
                        <input class="form-control" type="text" name="employeeCode" id="employeeCode" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.employeeCode : employeeCode %>" readonly hidden>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="name" class="col-md-4 col-form-label">Name</label>
                                <div class="col-md-8" data-validate="Name is required">
                                    <input class="form-control validate_this" type="text" name="name" id="name" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.name : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="contactNo" class="col-md-4 col-form-label">Contact No</label>
                                <div class="col-md-8" data-validate="Contact No is required">
                                    <input class="form-control validate_this" type="text" name="contactNo" id="contactNo" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.contactNo : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="email" class="col-md-4 col-form-label">Email</label>
                                <div class="col-md-8" data-validate="Email is required">
                                    <input class="form-control validate_this" type="email" name="email" id="email" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.email : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="companyName" class="col-md-4 col-form-label">Company Name</label>
                                <div class="col-md-8" data-validate="Company Name is required">
                                    <input class="form-control validate_this" type="text" name="companyName" id="companyName" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.companyName : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 row">
                                <label for="address" class="col-md-4 col-form-label">Address</label>
                                <div class="col-md-8" data-validate="Address is required">
                                    <input class="form-control validate_this" type="text" name="address" id="address" value="<%= typeof detailsInfo!='undefined' ? detailsInfo.address : '' %>">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-danger" style="float: right; margin-left: 2%;" type="button" href="/portal-supplier-list">Cancel</a>
                        <button class="btn btn-primary" style="float: right;" type="submit" id="formSubmitBtn" ><%= typeof detailsInfo=='undefined' ? 'Create' : 'Update' %></button>
                        <!-- <button class="btn btn-primary" type="button" id="faceScanBtn" style="display: none;">Face Scan</button> -->
                    </div>
                </form>
            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>

<!-- parsleyjs -->
<script src="/public/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="/public/assets/js/pages/form-validation.init.js"></script>

<%- contentFor('BottomJs') %>