<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title><%- title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Managemnet type software (Internal use Only)" name="description">
  <meta content="BrainTechSolution" name="author">
  <!-- App favicon -->
  <link rel="shortcut icon" href="/public/assets/images/favicon.ico">
  <link href="/public/assets/css/custom-validation.css" rel="stylesheet" type="text/css" />
  <!-- <link href="/public/assets/css/font-awesome.css" rel="stylesheet" type="text/css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- plugin css -->
  <!-- <link href="/public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link href="/public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css" integrity="sha512-KuSX+43gVS5MEIJD2ewtrFPOHqC1PJnL8o2f5ciggPC0JUZ8XV0QXlfArO1mSzKkVFdRjsBDfrTU96C5SuRfqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link href="/public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link href="/public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.css" integrity="sha512-g4B+TyvVE4aa0Y1SgjMHnT/4M4IRl8jnG3Ha9ebg8VhLyrfaAqL5AHDh7zo0/ZdES57Y1E7wvWwsDzX806b1Gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="/public/assets/libs/@chenfengyuan/datepicker/datepicker.min.css" rel="stylesheet" >
  <!-- Sweet Alert-->
  <!-- <link href="/public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" /> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.4/sweetalert2.min.css" integrity="sha512-y4S4cBeErz9ykN3iwUC4kmP/Ca+zd8n8FDzlVbq5Nr73gn1VBXZhpriQ7avR+8fQLpyq4izWm0b8s6q4Vedb9w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <%- HeaderCss %>
  <%- include ('./Partials/HeaderStyle')  %>

</head>

<body>

  <!-- Loader -->
  <div id="preloader">
    <div id="status">
        <div class="spinner">
            <i class="uil-shutter-alt spin-icon"></i>
        </div>
    </div>
  </div>
  
  <!-- <% if(typeof responseMessage!='undefined' && responseMessage.length> 0) { %>
    <input type="text" id="responseMessage" hidden="true" readonly="true" value="<%=responseMessage%>">
  <% } %> -->
  
  <!-- Begin page -->
  <div id="layout-wrapper">

    <%- include ('./Partials/Header')  %>
    <%- include ('./Partials/Sidebar')  %>

    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <%- breadcrumb %>
          <%- body %>
        </div>
      </div>
      <%- include ('./Partials/Footer') %>
    </div>
  </div>

  <%- include ('./Partials/Rightbar')  %>
  <%- include ('./Partials/VendorScript')  %>

  <!-- staticBackdrop Modal -->
  <div class="modal fade" id="customModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="customModalBody">
                <p>I will not close if you click outside me. Don't even try to press escape key.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
            </div>
        </div>
    </div>
  </div>

  <%- FooterJs %>

  <script defer src="/public/assets/js/app.js"></script>
  
  <%- BottomJs %>
  <!-- plugins -->
  <!-- <script defer src="/public/assets/libs/select2/js/select2.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- init js -->
  <!-- <script defer src="/public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js" integrity="sha512-1aNp9qKP+hKU/VJwCtYqJP9tdZWbMDN5pEEXXoXT0pTAxZq1HHZhNBR/dtTNSrHO4U1FsFGGILbqG1O9nl8Mdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script defer src="/public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.js" integrity="sha512-0hFHNPMD0WpvGGNbOaTXP0pTO9NkUeVSqW5uFG2f5F9nKyDuHE3T4xnfKhAhnAZWZIO/gBLacwVvxxq0HuZNqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script defer src="/public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.10.0/bootstrap-maxlength.min.js" integrity="sha512-04L+TAgzlDAaUpaEGriEBg/qEryUjw4GNL/FkxA3h621EFPycccO2Y8vNhvid9UhgGC/9+MHLAFwGythpvOAAQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script defer src="/public/assets/libs/@chenfengyuan/datepicker/datepicker.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="/public/assets/js/pages/form-advanced.init.js"></script>

  <!-- Sweet Alerts js -->
  <!-- <script defer src="/public/assets/libs/sweetalert2/sweetalert2.min.js"></script> -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.4/sweetalert2.min.js" integrity="sha512-vDRRSInpSrdiN5LfDsexCr56x9mAO3WrKn8ZpIM77alA24mAH3DYkGVSIq0mT5coyfgOlTbFyBSUG7tjqdNkNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="/public/assets/js/pages/sweet-alerts.init.js"></script>
  <script defer src="/public/assets/js/face-verification.js"></script>

  
  <script defer src="/public/assets/js/custom-validation.js"></script>
  <script defer src="/public/assets/js/custom.js"></script>
  <%- include ('./Partials/ResponseMessage')  %>
</body>

</html>